In [1]:
print("hi")

hi

In [2]:
import pandas as pd

In [3]:
sirivennela_cleaned=pd.read_csv("../../cleaneddata/sirivennela_cleaned_data.csv")

In [4]:
sirivennela_cleaned

,song_name,word_count,telugu_ratio,uniqueness_ratio,final_lyrics,richness,complexity,sanskrit_score
0,Allantha_Doorala,111,1.0,0.711712,అల్లంత దూరాల ఆ తారక\nకళ్ళెదుట నిలిచిందా ఈ...,0.711712,6.036036,0.094030
1,Manasa_Manninchavamma,117,1.0,0.863248,మనసా మన్నించమ్మా\nమార్గం మళ్ళించమ్మా\nనీతో ...,0.863248,6.401709,0.129506
2,Manasaina,116,1.0,0.500000,మనసైన నా ప్రియా కలిగేనా నీ దయా\nకలలతో కల...,0.500000,5.551724,0.122671
3,Priyuraali,186,1.0,0.478495,ఆ ఆ ఆ\nప్రియురాలి అడ్రస్ ఏమిటో చెప్పమ్మా ...,0.478495,5.752688,0.117757
4,O_My_Brotheru,291,1.0,0.494845,యు రాక్ మై\nఓ మై బ్రదరు చెబుతా వినరో\nవన...,0.494845,4.446735,0.146059
...,...,...,...,...,...,...,...,...
497,Soniya Soniya,248,1.0,0.516129,సోనియా సోనియా\nసోనియా సోనియా\nసోనియా ఆఆ\nసో...,0.516129,5.467742,0.112094
498,Chitti Gumma,204,1.0,0.524510,చిట్టి గుమ్మా పదవే రెండు రెక్కలు కట్టుకుం...,0.524510,6.539216,0.121439
499,Evvarineppudu,74,1.0,0.581081,ఎవ్వారినెప్పుడు తానా వలలో\nబంధిస్తుందో ఈ ప...,0.581081,5.716216,0.111111
500,Maikam kaadidee,90,1.0,0.555556,మైకం కాదిది నిన్నటి లోకం కాదిదీ\nఇవ్వాళే ...,0.555556,6.400000,0.105903
501,Naa padham agena,98,1.0,0.612245,నా పాదం ఆగేనా ఏ బంధం కాదన్నా\nచెరిగిన శా...,0.612245,5.183673,0.114173

In [10]:
pending_all_songs=pd.read_csv("../../rawdata/sirivennela_songs.csv")

In [11]:
pending_all_songs

,song_name,movie_album,singers
0,Gaali Vaaluga,Agnyaathavaasi,Anirudh Ravichander
1,Niluvaddham,Nuvvostanante Nenoddantana,"Karthik, Sumangali"
2,Chiguraku Chatu,Gudumba Shankar,"S.P.B. Charan, Sunitha Upadrasta"
3,Manasu Maree,V,"Amit Trivedi, Shashaa Tirupati, Yazin Nizar"
4,Naa Chupe Ninu,Nuvvu Naaku Nachchav,"Koti, K. S. Chithra, Shreeram Lagoo, Prabhu"
...,...,...,...
1017,Om Ani,Sri Seetharamula Kalyanam Chothamu Rarandi,"M. M. Keeravani, S.P. Balasubrahmanyam, Sun..."
1018,Adigava Matyna,Keka,"Chakri, Kousalya, Hemachandra"
1019,Soniye,Samudram,Sashi Pretham
1020,Chitti Chitti Adugaa,Dhoni,"Ilaiyaraaja, Shreya Ghoshal, Naresh Iyer"
1021,Muddu Gumma,Thaali,"Vidhya Sagar, Sujatha Mohan, Gangadhar"

In [14]:
extracted_songs=sirivennela_cleaned['song_name'].to_list()

In [15]:
type(extracted_songs)

list

In [18]:
def normalize(s):
    return (
        s.str.lower()
         .str.strip()
         .str.replace("_", " ", regex=False)
    )

In [19]:
pending_all_songs["song_norm"] = normalize(pending_all_songs["song_name"])
sirivennela_cleaned["song_norm"] = normalize(sirivennela_cleaned["song_name"])

In [ ]:
pending_v2 = pending_all_songs[~pending_all_songs["song_norm"].isin(sirivennela_cleaned["song_norm"])].drop(columns="song_norm")

In [21]:
pending_v2

,song_name,movie_album,singers
4,Naa Chupe Ninu,Nuvvu Naaku Nachchav,"Koti, K. S. Chithra, Shreeram Lagoo, Prabhu"
7,Mallieswarivey,Yuvasena,Jassie Gift
8,Niddura Potunna,Nuvve Nuvve,"Koti, Shankar Mahadevan"
9,Yeluko Nayaka,Narasimhudu,"Mani Sharma, Ganga, Mallikarjun"
14,Samajavaragamana - Male,Ala Vaikunthapurramuloo,Sid Sriram
...,...,...,...
1017,Om Ani,Sri Seetharamula Kalyanam Chothamu Rarandi,"M. M. Keeravani, S.P. Balasubrahmanyam, Sun..."
1018,Adigava Matyna,Keka,"Chakri, Kousalya, Hemachandra"
1019,Soniye,Samudram,Sashi Pretham
1020,Chitti Chitti Adugaa,Dhoni,"Ilaiyaraaja, Shreya Ghoshal, Naresh Iyer"
1021,Muddu Gumma,Thaali,"Vidhya Sagar, Sujatha Mohan, Gangadhar"

In [23]:
raw_set = set(normalize(pending_all_songs["song_name"]))
clean_set = set(normalize(sirivennela_cleaned["song_name"]))

not_found_in_raw = sorted(clean_set - raw_set)
len(not_found_in_raw), not_found_in_raw[:30]

(100,
 ['aakasa ganga pathos',
  'abbaba iddu',
  'adinche ashta',
  'adugaduguna',
  'aho oka manasuku',
  'anaganaganaga oka raju',
  'antha istam',
  'aura ammakachella',
  'aye amayika',
  'ayyayyayyayyo',
  'chali chaliga',
  'champesinde champesinde',
  'chemma chekka',
  'cheppana prema',
  'chinni chinni aasha',
  'chitapata chinukula',
  'chitti gumma',
  'choosthu choosthoone',
  'choosthunnaa',
  'chukkallaara choopullaara (duet)',
  'chukkallaara choopullaara(female)',
  'chuttu pakkala chudara',
  'dandaalayyaa',
  'dhin dhin',
  'diri diri diri',
  'emo avunemo',
  'eppudo female',
  'epudu',
  'gaali chirugaali',
  'ghal ghal'])

In [24]:
from rapidfuzz import process, fuzz
import pandas as pd
import re

In [25]:
def normalize(s):
    s = s.astype(str).str.lower().str.strip()
    s = s.str.replace("_", " ", regex=False)
    s = s.str.replace(r"[–—-]", " ", regex=True)
    s = s.str.replace(r"&", " and ", regex=True)
    s = s.str.replace(r"[^a-z0-9\s]", "", regex=True)
    s = s.str.replace(r"\s+", " ", regex=True).str.strip()
    return s

In [ ]:
pending_all_songs["song_norm"] = normalize(pending_all_songs["song_name"])
sirivennela_cleaned["song_norm"] = normalize(sirivennela_cleaned["song_name"])

In [43]:
raw_norms = pending_all_songs["song_norm"].unique().tolist()
raw_norm_set = set(raw_norms)

In [44]:
clean_norms = sirivennela_cleaned["song_norm"].unique().tolist()

unmatched = [c for c in clean_norms if c not in raw_norm_set]

In [45]:
matches = []
for c in unmatched:
    best = process.extractOne(c, raw_norms, scorer=fuzz.token_set_ratio)
    if best and best[1] >= 90: 
        matches.append((c, best[0], best[1]))

match_df = pd.DataFrame(matches, columns=["clean_norm", "raw_norm", "score"])
match_df.sort_values("score", ascending=False).head(20)

                clean_norm                     raw_norm  score
0   chuttu pakkala chudara               chuttu pakkala  100.0
1    lalitha priya kamalam                lalitha priya  100.0
2              manava seva                manava manava  100.0
3          neethone aagena                     neethone  100.0
4   anaganaganaga oka raju                anaganaganaga  100.0
8   ninnala monnala ledura              ninnala monnala  100.0
7            chemma chekka  chemma chekka chemma chekka  100.0
11       nemmadi nemmadiga              nemmadi nemmadi  100.0
12                   jalsa                  jalsa jalsa  100.0
9            gunde chatuga           gunde chatuga male  100.0
10         gundello godari                     gundello  100.0
13     my heart is beating                     my heart  100.0
14               dhin dhin             dhin dhin dhinak  100.0
17              naalo unna             naalo unna prema  100.0
15          diri diri diri            diri diri oye oye  100.0
30     manasuna unnadimale                     manasuna  100.0
41       jam jam jajjanaka              jam jam jam jam  100.0
18             emo avunemo                  emo emo emo  100.0
20          vayyaari bhama                  bhama bhama  100.0
21               ghal ghal     ghal ghal akasam thakela  100.0

In [ ]:
mapped_raw_norms = set(sirivennela_cleaned["song_norm"]) | set(match_df["raw_norm"])

In [ ]:
pending_v3 = pending_all_songs[~pending_all_songs["song_norm"].isin(mapped_raw_norms)].drop(columns="song_norm")
pending_v3.shape

(598, 3)

In [ ]:
match_df.shape[0]

47

In [29]:
match_df.shape[0]
match_df["score"].describe()
match_df.sort_values("score").head(30)

                 clean_norm            raw_norm       score
36                    epudu              eppudu   90.909091
5         aura ammakachella  oura ammaka chella   91.428571
42            maagha maasam         magha masam   91.666667
6             kannukottinaa       kannu kottina   92.307692
39             malliswarive      mallieswarivey   92.307692
35         o cheli anarkali  o chelli anarakali   94.117647
32              veyyinnokka          veyyinokka   95.238095
22              adugaduguna        adugadugunaa   95.652174
28  champesinde champesinde        champesindhe   95.652174
43              aye amayika        aye amaayika   95.652174
37              jamurathiri        jaamurathiri   95.652174
16             choosthunnaa         choosthunna   95.652174
25           kopama napaina       kopama napina   96.296296
23            mental madhio      mental madhilo   96.296296
34          sarigamapadhani      sarigamapadani   96.551724
19           veyi kannulato     veyi kannulatho   96.551724
44           raara aatagada     raara aatagaada   96.551724
27        muvvala navvakala    muvvala navakala   96.969697
13      my heart is beating            my heart  100.000000
14                dhin dhin    dhin dhin dhinak  100.000000
11        nemmadi nemmadiga     nemmadi nemmadi  100.000000
10          gundello godari            gundello  100.000000
9             gunde chatuga  gunde chatuga male  100.000000
12                    jalsa         jalsa jalsa  100.000000
15           diri diri diri   diri diri oye oye  100.000000
8    ninnala monnala ledura     ninnala monnala  100.000000
0    chuttu pakkala chudara      chuttu pakkala  100.000000
1     lalitha priya kamalam       lalitha priya  100.000000
3           neethone aagena            neethone  100.000000
2               manava seva       manava manava  100.000000

In [ ]:
matches = []
for c in unmatched:
    best = process.extractOne(c, raw_norms, scorer=fuzz.WRatio)
    if best and best[1] >= 85:
        matches.append((c, best[0], best[1]))

match_df = pd.DataFrame(matches, columns=["clean_norm","raw_norm","score"])
match_df.shape, match_df["score"].describe()

((74, 3),
 count    74.000000
 mean     91.164561
 std       4.337044
 min      85.500000
 25%      85.714286
 50%      90.615836
 75%      95.000000
 max      97.674419
 Name: score, dtype: float64)

In [ ]:
mapped_raw_norms = set(sirivennela_cleaned["song_norm"]) | set(match_df["raw_norm"])

pending_v3 = pending_all_songs[~pending_all_songs["song_norm"].isin(mapped_raw_norms)].drop(columns="song_norm")

pending_v3.shape

(582, 3)

In [33]:
mapped = set(match_df["raw_norm"]) | set(sirivennela_cleaned["song_norm"])
still_unmatched_clean = sorted(set(sirivennela_cleaned["song_norm"]) - mapped)

len(still_unmatched_clean), still_unmatched_clean[:50]

(0, [])

In [ ]:
sirivennela_cleaned["song_norm"].nunique(), len(sirivennela_cleaned)

(486, 502)

In [35]:
pending_all_songs["song_norm"].nunique(), len(pending_all_songs)

(1022, 1022)

In [ ]:
raw_unique = set(pending_all_songs["song_norm"])
clean_unique = set(mapped_raw_norms)

pending_unique = sorted(raw_unique - clean_unique)
len(raw_unique), len(clean_unique), len(pending_unique)

(1022, 527, 582)

In [ ]:
pending_v3_unique = (pending_all_songs[~pending_all_songs["song_norm"].isin(clean_unique)].drop_duplicates("song_norm").drop(columns="song_norm"))
pending_v3_unique.shape

(582, 3)

In [ ]:
print("clean rows, clean unique:", len(sirivennela_cleaned), sirivennela_cleaned["song_norm"].nunique())
print("raw rows, raw unique:", len(pending_all_songs), pending_all_songs["song_norm"].nunique())
print("pending unique:", len(set(pending_all_songs["song_norm"]) - set(mapped_raw_norms)))

clean rows, clean unique: 502 486
raw rows, raw unique: 1022 1022
pending unique: 582

In [39]:
raw_norm_set = set(pending_all_songs["song_norm"])
clean_norm_set = set(sirivennela_cleaned["song_norm"])

exact_raw_norms = clean_norm_set & raw_norm_set
fuzzy_raw_norms = set(match_df["raw_norm"])

mapped_raw_norms = exact_raw_norms | fuzzy_raw_norms

In [40]:
pending_v4 = pending_all_songs[
    ~pending_all_songs["song_norm"].isin(mapped_raw_norms)
].drop(columns="song_norm")

pending_v4.shape

(582, 3)

In [41]:
mapped_clean_norms = set(match_df["clean_norm"]) | (clean_norm_set & raw_norm_set)

still_unmapped_clean = sorted(clean_norm_set - mapped_clean_norms)
len(still_unmapped_clean), still_unmapped_clean[:50]

(13,
 ['',
  'abbaba iddu',
  'ayyayyayyayyo',
  'choosthu choosthoone',
  'kallaloki kallu petti',
  'krishnam vande jagadgurum',
  'nuvantene istam',
  'panchadaara bomma',
  'parameswaruni hithamu',
  'rajanna ninnapagalara yatra',
  'soniya soniya',
  'suraajyamavaleni swaraajyamendukani',
  'vareva emi face'])

In [42]:
matches = []
for c in unmatched:
    top2 = process.extract(c, raw_norms, scorer=fuzz.WRatio, limit=2)
    if not top2:
        continue
    if top2[0][1] >= 80 and (len(top2) == 1 or top2[0][1] - top2[1][1] >= 5):
        matches.append((c, top2[0][0], top2[0][1]))

match_df = pd.DataFrame(matches, columns=["clean_norm","raw_norm","score"])
match_df.shape

(51, 3)

In [47]:
pending_v4.to_csv("../../rawdata/pendingv2.csv")