In [1]:
import pandas as pd

In [3]:
extracted_data=pd.read_csv("../../rawdata/extracted_data.csv")
all_songs=pd.read_csv("../../rawdata/sirivennela_songs.csv")

In [17]:
extracted_data

,Unnamed: 0,movie_name,song_name,lyrics
0,0,Aadavari_Matalaku_Ardhalu_Veruley,Allantha_Doorala,అల్లంత దూరాల ఆ తారక\nకళ్ళెదుట నిలిచిందా ఈ...
1,1,Aadavari_Matalaku_Ardhalu_Veruley,Manasa_Manninchavamma,మనసా మన్నించమ్మా\nమార్గం మళ్ళించమ్మా\nనీతో ...
2,2,Aaha,Manasaina,మనసైన నా ప్రియా కలిగేనా నీ దయా\nకలలతో కల...
3,3,Aaha,Priyuraali,ఆ ఆ ఆ\nప్రియురాలి అడ్రస్ ఏమిటో చెప్పమ్మా ...
4,4,Aarya,Nuvvunte,యు రాక్ మై
...,...,...,...,...
412,412,yatra,"Rajanna Ninnapagalara, Yatra",అద్దుమానం అడవిలోనా.. ఏలకాని ఏడకాడ \nపైన పోయే ప...
413,413,yatra,"Samara Sankham, Yatra",ఈనాటి ఈ సుప్రభాత గీతం\nనీకిదే అన్నది స్వాగతం\n...
414,414,yatra,"Pallello Kala undi, Yatra",కళ్ళల్లో నీరుంది\nఒళ్ళంతా చమటుంది\nఆ చెమ్మకి చ...
415,415,SVSC,మేఘాల్లో సన్నాయి రాగం మోగింది మేళాలు తాళాలు వి...,ఇంతవరకెన్నో చూశాం అనుకుంటే సరిపోదుగా\nఎంత బరువ...
416,416,SVSC,మరీ అంతగా.. మహా చింతగా.. మొహం ముడుచుకోకలా....,మరీ అంతగా.. మహా చింతగా.. మొహం ముడుచుకోకలా....\...

In [4]:
all_songs

,song_name,movie_album,singers
0,Gaali Vaaluga,Agnyaathavaasi,Anirudh Ravichander
1,Niluvaddham,Nuvvostanante Nenoddantana,"Karthik, Sumangali"
2,Chiguraku Chatu,Gudumba Shankar,"S.P.B. Charan, Sunitha Upadrasta"
3,Manasu Maree,V,"Amit Trivedi, Shashaa Tirupati, Yazin Nizar"
4,Naa Chupe Ninu,Nuvvu Naaku Nachchav,"Koti, K. S. Chithra, Shreeram Lagoo, Prabhu"
...,...,...,...
1017,Om Ani,Sri Seetharamula Kalyanam Chothamu Rarandi,"M. M. Keeravani, S.P. Balasubrahmanyam, Sun..."
1018,Adigava Matyna,Keka,"Chakri, Kousalya, Hemachandra"
1019,Soniye,Samudram,Sashi Pretham
1020,Chitti Chitti Adugaa,Dhoni,"Ilaiyaraaja, Shreya Ghoshal, Naresh Iyer"
1021,Muddu Gumma,Thaali,"Vidhya Sagar, Sujatha Mohan, Gangadhar"

In [26]:
def normalize(s):
    return (
        s.astype(str)
         .str.lower()
         .str.strip()
         .str.replace("_"," ")
    )

In [27]:
extracted_norm = normalize(extracted_data["song_name"])
all_norm = normalize(all_songs["song_name"])

In [28]:
extracted_norm[0]

'allantha doorala'

In [29]:
extracted_set = set(extracted_norm)

In [30]:
pending_songs = all_songs[~all_norm.isin(extracted_set)]

In [31]:
pending_songs

,song_name,movie_album,singers
4,Naa Chupe Ninu,Nuvvu Naaku Nachchav,"Koti, K. S. Chithra, Shreeram Lagoo, Prabhu"
7,Mallieswarivey,Yuvasena,Jassie Gift
9,Yeluko Nayaka,Narasimhudu,"Mani Sharma, Ganga, Mallikarjun"
14,Samajavaragamana - Male,Ala Vaikunthapurramuloo,Sid Sriram
16,Balapam Patti,Bobbili Raja,"Ilaiyaraaja, K. S. Chithra, S.P. Balasubrah..."
...,...,...,...
1017,Om Ani,Sri Seetharamula Kalyanam Chothamu Rarandi,"M. M. Keeravani, S.P. Balasubrahmanyam, Sun..."
1018,Adigava Matyna,Keka,"Chakri, Kousalya, Hemachandra"
1019,Soniye,Samudram,Sashi Pretham
1020,Chitti Chitti Adugaa,Dhoni,"Ilaiyaraaja, Shreya Ghoshal, Naresh Iyer"
1021,Muddu Gumma,Thaali,"Vidhya Sagar, Sujatha Mohan, Gangadhar"

In [32]:
pending_songs.to_csv("../../rawdata/pending_songsv1.csv")